* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}



h2 {

    color: #FFF;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 126px, 0, 0 28px;
}

input {

    width: 400px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    margin: 29px 0 0 79px;
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    opacity: 0.7;
    height: 74px;
    padding-left: 20px;
    cursor: pointer;

}

.input-min {


    margin-right: 62px;
}

button {

    display: flex;
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    margin: 79px 80px 0 187px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5px;
    cursor: pointer;

}

button:hover {

    opacity: 0.8;
}

button:active {

    opacity: 0.9;
}


@media screen and (max-width: 900px) {

    img {

        display: block;
        margin-left: 100px;
        position: static;
        width: 100%;
        height: auto;
        margin-top: 30px;

    }

    h2 {

        margin-left: 90px;
        margin-top: 30px;
        white-space: nowrap;
        text-align: center;
    }

    div {

        margin-left: 75px;
        margin-top: 25px;
    }

    input {
        margin-top: 50px;
        

       
    }

    button {

        margin-right: 110px;
        margin-top: 50px;
    }




}